AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: true
BreakBeforeBraces: Allman
DerivePointerAlignment: false
ColumnLimit: 175
IndentWidth: 3
PointerAlignment: Left
BasedOnStyle: Google